{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              licorice: "#240F0E",
              coyote: "#7D6E5F",
              lion: "#C1A386",
              dutch: "#E5D2B0",
              raisin: "#262A37",
            },
            fontFamily: {
              pro: ["Crimson Pro", "sans-serif"],
              crimson: ["Crimson Text", "serif"],
              lora: ["Lora", "monospace"],
            },
            backgroundImage: {
              batik:
                "linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/static/images/batik.png')",
              hero: "linear-gradient(rgba(73, 53, 24, 0.8), rgba(125, 110, 95, 0.9)), url('/static/images/hero.jpg')",
            },
          },
        },
      };
    </script>
    {% block meta %} {% endblock meta %}
  </head>

  <body>
    <main class="min-h-screen w-full font-lora bg-batik">
      {% include 'navbar.html' %} {% block content %} {% endblock content %}
      {% include 'footer.html' %}
    </main>
  </body>
</html>
